@import '../../css/astra_variable.scss';

h1, h2, h3, h4, h5, h6 {
    font-size: $_h1;
    font-weight: $_font_medium;
    letter-spacing: $_heading-letter-spacing;
}

h2 {
    font-size: $_h2;
}

h3 {
    font-size: $_h3;
}

h4 {
    font-size: $_h4;
}

h5 {
    font-size: $_h5;
}

h6 {
    font-size: $_h6;
}